!!!
%html
  %header
    = render 'app/layouts/head'
    %link{ rel: 'stylesheet', href: 'https://cdn.linearicons.com/free/1.0.0/icon-font.min.css' }
    %link{ rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css' }
  %body
    %section.login-cloud
      .content-back
        // = image_tag '/assets/app/vectores_services'
      %div
        .content-logo
          .content-fix
            = image_tag '/assets/app/menu_fix_logo'
        %div
          .content-card
            .project-cloud
              = link_to app_account_path do
                %p.title-card
                  %strong Cuentas
                .col-projects
                  - @accounts.each_with_index do |account, index|
                    %a.card-project{"data-target" => "#account-#{index}", "data-toggle" => "modal"}
                      %p
                        %strong 
                          Cuenta: 
                        = account.name
                      %p 
                        %strong 
                          Fecha: 
                        = account.date.strftime('%d/%m/%Y')
                      %p 
                        %strong 
                          Plan: 
                        = account&.plan&.name || 'SIN PLAN ASIGNADO'   
            .project-cloud
              = link_to app_plans_path do
                %p.title-card
                  %strong Planes
                .col-projects
                  - @accounts_with_plans.each_with_index do |account, index|
                    %a.card-project{"data-target" => "#plans-#{index}", "data-toggle" => "modal"}
                      %p
                        %strong 
                          Cuenta: 
                        = account.name
                      %p 
                        %strong 
                          Fecha: 
                        = account.date.strftime('%d/%m/%Y')
                      %p 
                        %strong Plan:
                        = account&.plan&.name || 'SIN PLAN ASIGNADO'
                      %p 
                        %strong Descripción:
                      #{account&.plan&.description}
                      %p
                      %strong 
                        Renovado: 
                      = account.renovate? ? 'SI' : 'NO'
    - @accounts.each_with_index do |account, index|                
      .modal.fade{ :id => "account-#{index}","aria-hidden" => "true", "aria-labelledby" => "", :role => "dialog", :tabindex => "-1"}
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              %h4#myModalLabel.modal-title= account.name
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
            .modal-body
              %p
                %strong 
                  Cuenta: 
                = account.name
              %p 
                %strong 
                  Fecha: 
                = account.date.strftime('%d/%m/%Y')
              -# %p 
              -#   %strong Plan:
              -#   #{account.plan.name}
              -# %p 
              -#   %strong Descripción:
              -# #{account.plan.description}
              = simple_form_for account, url: app_set_plan_path(account), method: :post do |f|
                = f.input :plan_id, collection: @plans, include_blank: 'Selecciona Un Plan'
                -# = f.input :renovate
                = f.submit 'GUARDAR'
    - @accounts.each_with_index do |account, index|                
      .modal.fade{ :id => "plans-#{index}","aria-hidden" => "true", "aria-labelledby" => "", :role => "dialog", :tabindex => "-1"}
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              %h4#myModalLabel.modal-title= account.name
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
            .modal-body
              %p
                %strong 
                  Cuenta: 
                = account.name
              %p 
                %strong 
                  Fecha: 
                = account.date.strftime('%d/%m/%Y')
              %p 
                %strong Plan:
                = account&.plan&.name || 'Sin plan asociado'.upcase
              %p 
                %strong Descripción:
              #{account&.plan&.description}
              %p
              %strong 
                Renovado: 
              = account.renovate? ? 'SI' : 'NO'
              = simple_form_for account, url: app_set_plan_path(account), method: :post do |f|
                = f.input :renovate
                = f.submit 'ACTUALIZAR'
            -# .modal-footer
            -#   %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
            -#   %button.btn.btn-primary{:type => "submit"} Save changes