!!!
%html
  %header
    = render 'app/layouts/head'
    %link{ rel: 'stylesheet', href: 'https://cdn.linearicons.com/free/1.0.0/icon-font.min.css' }
    %link{ rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css' }
  %body
    %section.login-cloud
      .content-back
        // = image_tag '/assets/app/vectores_services'
      %div
        .content-logo
          .content-fix
            = image_tag '/assets/app/menu_fix_logo'
          %div.container-fluid
            .content-card-plan
            
              #style-1.project-cloud.scrollbar.one-m
                %p.title-card
                  %strong Four Months
                .sortable#sortable
                  - @plans.each_with_index do |plan, index|
                    .card-project
                      %p
                        %strong Plan
                        #{plan.name}
                      %p Fecha
                      #{plan.date.strftime('%d/%m/%Y')}
                
                
              #style-1.project-cloud.scrollbar.two-m
                %p.title-card
                  %strong Eight Months
                .sortable#sortable
                  - @plans.each_with_index do |plan, index|
                    .card-project
                      %p
                        %strong Plan
                        #{plan.name}
                      %p Fecha
                      #{plan.date.strftime('%d/%m/%Y')}
            
              #style-1.project-cloud.scrollbar.three-m
                %p.title-card
                  %strong Twelve Months
                .sortable#sortable
                  - @plans.each_with_index do |plan, index|
                    .card-project
                      %p
                        %strong Plan
                        #{plan.name}
                      %p Fecha
                      #{plan.date.strftime('%d/%m/%Y')}
            
              #style-1.project-cloud.scrollbar.fourt-m
                %p.title-card
                  %strong Defeated
                .sortable#sortable
                  - @plans.each_with_index do |plan, index|
                    .card-project
                      %p
                        %strong Plan
                        #{plan.name}
                      %p Fecha
                      #{plan.date.strftime('%d/%m/%Y')}
    / large modal
    #largeModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "basicModal", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            %h4#myModalLabel.modal-title Plane 1
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .modal-body
            %h3 Modal Body
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
            %button.btn.btn-primary{:type => "button"} Save changes